@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Tsukimi+Rounded:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}

:root{
    --primary:#2c8153;
}

::selection{
    color: white;
    background-color: var(--primary);
}

/* PAGE1 ______________________________ */    
body{
    overflow-x: hidden;
}
#p1{
    
    background-color: #2c8153;
    width: 1520px;
    height: 750px;   
}
nav{
    width: 1540px;
    height: 75px;
    list-style: none;
    background-color: #FCFCFC;
    z-index: 3;
    position: absolute;
    top: 0%;
    position:fixed;
    box-shadow: 2px 2px 28px rgba(95, 95, 95, 0.322);
}
nav img{
    width: 102px;
    height: 38px;
    padding-left: 80px;
    padding-top: 18px;
}
ul{
    position: absolute;
    left: 1050px;
    top: 29px;
    width: 380px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 15.5px;
    color: var(--primary);
    list-style-type: none;
    margin: 15px;
}
.form{
    position: absolute;
    top: 18vh;
    right: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 70vh;
    background-color: rgba(234, 234, 234, 0.645);
    box-shadow:
    0px 0px 15.1px rgba(0, 0, 0, 0.011),
    0px 0px 24.4px rgba(0, 0, 0, 0.016),
    0px 0px 28.6px rgba(0, 0, 0, 0.02),
    0px 0px 37.4px rgba(0, 0, 0, 0.024),
    0px 0px 51.6px rgba(0, 0, 0, 0.029),
    0px 0px 69px rgba(0, 0, 0, 0.04)
  ;
    border: 2px solid black;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;

}
input{
    width: 200px;
    height: 28px;
    border: none;
    border-bottom: 2px solid rgb(60, 60, 60);
    font-size: 16px;
    background-color: rgb(234, 234, 234);
    position: absolute;
    right: 50px;
}
label{
    position: relative;
    right: 10px;
}

#textarea{
    text-decoration: none;
    position: relative;
    left: 30px;
    text-align: left;
    width: 280px;
    height: 100px;
}
#peep{
    position: relative;
    top: 20vh;
    left: 100px;
    width: 350px;
}
h1{
    width: 205px;
    position: relative;
    font-size: 28px;
    font-family: 'Ubuntu';
    letter-spacing: 2%;
    font-weight: 400;
    left: 400px;
    bottom: 230px;
    background-color: #1c1c1c;
    color: white;
}
#bt{
    position: absolute;
    top: 85%;
    left: 62%;
    width: 120px;
    height: 30px;
    background-color: #2c8153;
    color: white;
    font-size: 12px;
}